services:
  sim:
    image: martenseemann/quic-network-simulator
    hostname: sim
    stdin_open: true
    tty: true
    environment:
      - WAITFORSERVER=$WAITFORSERVER
      - SCENARIO=$SCENARIO
      - CLIENT_V4_ADDR=${CLIENT_V4_ADDR}
      - CLIENT_V4_GATEWAY=${CLIENT_V4_NET}.2
      - CLIENT_V6_ADDR=${CLIENT_V6_ADDR}
      - CLIENT_V6_GATEWAY=${CLIENT_V6_NET}::2
      - SERVER_V4_ADDR=${SERVER_V4_ADDR}
      - SERVER_V4_GATEWAY=${SERVER_V4_NET}.2
      - SERVER_V6_ADDR=${SERVER_V6_ADDR}
      - SERVER_V6_GATEWAY=${SERVER_V6_NET}::2
      - SUBNET_V4=${SUBNET_V4}
      - SUBNET_V6=${SUBNET_V6}
      - V4_PREFIX=${V4_PREFIX}
      - V6_PREFIX=${V6_PREFIX}
      - LEFTNET_NAME=eth0
      - RIGHTNET_NAME=eth1
    cap_add:
      - NET_ADMIN
      - NET_RAW
    expose:
      - "57832"
    networks:
      leftnet:
        ipv4_address: ${CLIENT_V4_NET}.2
        ipv6_address: ${CLIENT_V6_NET}::2
        interface_name: eth0
      rightnet:
        ipv4_address: ${SERVER_V4_NET}.2
        ipv6_address: ${SERVER_V6_NET}::2
        interface_name: eth1
    extra_hosts:
      - "server:${SERVER_V4_ADDR}"

  server:
    image: $SERVER
    hostname: server
    stdin_open: true
    tty: true
    volumes:
      - $WWW:/www:ro
      - $CERTS:/certs:ro
    environment:
      - CRON=$CRON
      - ROLE=server
      - SERVER_PARAMS=$SERVER_PARAMS
      - SSLKEYLOGFILE=/logs/keys.log
      - QLOGDIR=/logs/qlog/
      - TESTCASE=$TESTCASE_SERVER
      - SUBNET_V4_PREFIX=${SUBNET_V4_PREFIX}
      - SUBNET_V4_SUBNET=${SUBNET_V4_SUBNET}
      - SUBNET_V4=${SUBNET_V4}
      - SUBNET_V6_PREFIX=${SUBNET_V6_PREFIX}
      - SUBNET_V6=${SUBNET_V6}
    depends_on:
      - sim
    cap_add:
      - NET_ADMIN
    ulimits:
      memlock: 67108864
    networks:
      rightnet:
        ipv4_address: ${SERVER_V4_ADDR}
        ipv6_address: ${SERVER_V6_ADDR}
        interface_name: eth0
    extra_hosts:
      - "server4:${SERVER_V4_ADDR}"
      - "server6:${SERVER_V6_ADDR}"

  client:
    image: $CLIENT
    hostname: client
    stdin_open: true
    tty: true
    volumes:
      - $DOWNLOADS:/downloads:delegated
      - $CERTS:/certs:ro
    environment:
      - CRON=$CRON
      - ROLE=client
      - CLIENT_PARAMS=$CLIENT_PARAMS
      - SSLKEYLOGFILE=/logs/keys.log
      - QLOGDIR=/logs/qlog/
      - TESTCASE=$TESTCASE_CLIENT
      - REQUESTS=$REQUESTS
      - SUBNET_V4_PREFIX=${SUBNET_V4_PREFIX}
      - SUBNET_V4_SUBNET=${SUBNET_V4_SUBNET}
      - SUBNET_V4=${SUBNET_V4}
      - SUBNET_V6_PREFIX=${SUBNET_V6_PREFIX}
      - SUBNET_V6=${SUBNET_V6}
    depends_on:
      - sim
    cap_add:
      - NET_ADMIN
    ulimits:
      memlock: 67108864
    networks:
      leftnet:
        ipv4_address: ${CLIENT_V4_ADDR}
        ipv6_address: ${CLIENT_V6_ADDR}
        interface_name: eth0
    extra_hosts:
      - "server4:${SERVER_V4_ADDR}"
      - "server6:${SERVER_V6_ADDR}"
      - "server46:${SERVER_V4_ADDR}"
      - "server46:${SERVER_V6_ADDR}"

  iperf_server:
    image: martenseemann/quic-interop-iperf-endpoint
    stdin_open: true
    tty: true
    environment:
      - ROLE=server
      - CLIENT=client4
      - IPERF_CONGESTION=$IPERF_CONGESTION
    depends_on:
      - sim
    cap_add:
      - NET_ADMIN
    networks:
      rightnet:
        ipv4_address: ${SERVER_V4_NET}.110
        ipv6_address: ${SERVER_V6_NET}::110
    extra_hosts:
      - "client4:${CLIENT_V4_NET}.90"
      - "client6:${CLIENT_V6_NET}::100"
      - "client46:${CLIENT_V4_NET}.90"
      - "client46:${CLIENT_V6_NET}::100"

  iperf_client:
    image: martenseemann/quic-interop-iperf-endpoint
    stdin_open: true
    tty: true
    environment:
      - ROLE=client
      - IPERF_CONGESTION=$IPERF_CONGESTION
    depends_on:
      - sim
    cap_add:
      - NET_ADMIN
    networks:
      leftnet:
        ipv4_address: ${CLIENT_V4_NET}.90
        ipv6_address: ${CLIENT_V6_NET}::90
    extra_hosts:
      - "server4:${SERVER_V4_NET}.110"
      - "server6:${SERVER_V6_NET}::110"
      - "server46:${SERVER_V4_NET}.110"
      - "server46:${SERVER_V6_NET}::110"

networks:
  leftnet:
    driver: bridge
    driver_opts:
      com.docker.network.bridge.enable_ip_masquerade: 'false'
    enable_ipv6: true
    ipam:
      config:
        - subnet: ${CLIENT_V4_NET}.0/${V4_PREFIX}
        - subnet: ${CLIENT_V6_NET}::/${V6_PREFIX}
  rightnet:
    driver: bridge
    driver_opts:
      com.docker.network.bridge.enable_ip_masquerade: 'false'
    enable_ipv6: true
    ipam:
      config:
        - subnet: ${SERVER_V4_NET}.0/${V4_PREFIX}
        - subnet: ${SERVER_V6_NET}::/${V6_PREFIX}
