{
  experimental_http3
}

interop.seemann.io:443

# The website must be mounted at /var/www/web.
# The log directory must be mounted at /var/www/logs.
root /logs/* /var/www/
root * /var/www/web

# Allow external sites to download our JSON files.
@json {
  path *.json
}
handle @json {
  header Access-Control-Allow-Origin "*"
}

# Allow external sites to download our qlog files.
@qlog {
  path *.qlog
}
handle @qlog {
  header Access-Control-Allow-Origin "*"
}

# Allow external sites to download our sqlog files.
@sqlog {
  path *.sqlog
}
handle @sqlog {
  header Access-Control-Allow-Origin "*"
}

file_server browse
