.lastrun {
  margin-top: 50px;
  text-align: right;
}

table.resulttable td {
  vertical-align: middle;
}

table.resulttable tr:first-child td,
table.resulttable tr td:first-child {
  font-weight: bold;
}

table.resulttable .results div {
  height: 1.4em;
}
