body.loading table.resulttable,
body.loading .navbar-nav .start-time,
body.loading .navbar-nav .duration,
body.loading .navbar-nav .end-time {
  opacity: 0.3;
}

.btn-xs {
  margin: 0 .1rem .1rem 0;
  padding: .01rem .025rem .01rem .025rem;
  font-size: .7rem;
}
